<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A301</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
</head>
<body>
    <div class="header">
        <div class="w">
            <a href="/" class="logo"></a>
            <div class="logo-title">欢迎注册</div>
            <div class="have-account">
                已有帐号
                <a href="/register">请登录></a>
            </div>
        </div>
    </div>
    <div class="content w">
        <div class="login m">
            <div class="form-item">
                <div class="form-tag">姓名</div>
                <div class="form-input-wrapper">
                    <input>
                </div>
            </div>
            <div class="form-item">
                <div class="form-tag">密码</div>
                <div class="form-input-wrapper">
                    <input type="password">
                </div>
            </div>
            <div class="form-item">
                <div class="form-tag">确认密码</div>
                <div class="form-input-wrapper">
                    <input type="password">
                </div>
            </div>
            <div class="form-item">
                <div class="form-tag">手机</div>
                <div class="form-input-wrapper">
                    <input>
                </div>
            </div>
            <div class="form-item" style="margin-top: 50px">
                <button class="btn-register">注册</button>
            </div>
        </div>
    </div>
</body>
</html>