.content .cl {
    box-sizing: border-box;
    padding-top: 35px;
    float: left;
    width: 1080px;
    height: 100px;
    border-top: 1px solid #999;
}
.content .cl .pic {
    float: left;
    width: 440px;
    height: 540px;
    margin-right: 30px;

}
.content .cl .info {
    box-sizing: border-box;
    float: left;
    width: 540px;
}
.content .cl .info .title {
    font-size: 20px;
    color: #333;
}

.content .cl .info .panel {
    margin: 40px 0  ;
    padding: 10px 0;
    background-color: #eee;
}
.content .cl .info .panel ul {
    list-style: none;
    padding: 0;
    line-height: 50px;
}
.content .cl .info span {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
    font-size: 14px;
    color: #666;
}
.content .cl .info .span-title {
    float: left;
}
.content .cl .info .format-content {
    box-sizing: border-box;
    float: left;
    width: 420px;
    height: 100px;
}
.content .cl .info .format-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content .cl .info .format-content ul li {
    float: left;
    height: 30px;
    min-width: 80px;
    margin: 0 0 8px 8px;
    padding: 2px 5px;
    text-align: center;
    line-height: 30px;
    color: #333;
    border: 1px solid #999;
}
.content .cl .info .number-picker input {
    height: 30px;
    width: 50px;
    padding: 0 5px;
    font-size: 16px;
}
.content .cl .info .buy {
    margin: 30px 0;
}
.content .cl .info .buy::after {
    content: "";
    clear: both;
    display: block;
}
.content .cl .info .buy button {
    float: right;
    height: 44px;
    margin-left: 10px;
    padding: 0 20px;
    font-size: 18px;
}
.content .cl .info .buy .add-cart {

}
.content .cl .info .buy .buy-now {
    color: #fff;
    background-color: #2a9930;
    border: none;
}
.content .cl .detail {
    box-sizing: border-box;
    width: 100%;
    min-height: 500px;
    margin-top: 30px;
    border: 1px solid #ddd;
    border-top: 2px solid #ddd;
}
.content .cr {
    box-sizing: border-box;
    float: left;
    width: 300px;
    height: 200px;
}
.content .cr .seller {
    margin: 0 20px;
    color: #333;
    border: 1px solid #2a9930;
}
.content .cr .seller .title {
    height: 42px;
    text-align: center;
    color: #fff;
    line-height: 42px;
    background-color: #2a9930;
}
.content .cr .seller ul {
    list-style: none;
    padding-left: 20px;
}
.content .cr .seller .name {
    margin: 10px 0 20px;
}
.tab {
    box-sizing: padding-box;
    height: 46px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.tab button {
    height: 100%;
    padding: 5px 6px;
    font-size: 18px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}
.tab button.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}