<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>A301</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>
<body>
    <div class="header">
        <div class="w">
            <ul class="fr">
                <li>
                    <a href="/login">您好，请登陆</a>
                    &nbsp;&nbsp;
                    <a href="/register" class="to-register">免费注册</a>
                </li>
                <li class="spacer"></li>
                <li>
                    <a href="#">实验指南</a>
                </li>
                <li class="spacer"></li>
                <li>
                    <a href="#">其他</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="w">
        <a href="/" class="logo"></a>
        <div class="search">
            <input class="text"><!--
        --><button class="search-btn">搜索</button>
        </div>
        <div style="height: 40px"></div>
        <div class="sort-bar">
            <div class="sort-item">
                <a class="active">默认</a>
                <a>销量 &#8595;</a>
                <a>好评 &#8595;</a>
            </div>
            <div class="summary">
                共找到相关商品 12 件
            </div>
        </div>
        <div style="margin-top: 10px">
            <ul class="product-list-wrapper">
                <li class="product">
                    <div class="pic">
                        <a href="/detail"><img src="/images/demo/p1.gif"></a>
                    </div>
                    <div class="price">
                        ￥200.00
                    </div>
                    <div class="title">
                        EpiZyme TBE电泳缓冲液（5×）（5 L）电泳液
                    </div>
                    <div class="detail">
                        <ul>
                            <li>销量: 275</li>
                            <li>货号: PS109S</li>
                            <li>品牌: Sigma</li>
                        </ul>
                    </div>
                </li>
                <li class="product">
                    <div class="pic">
                        <a href="/detail"><img src="/images/demo/p2.jpg"></a>
                    </div>
                    <div class="price">
                        ￥200.00
                    </div>
                    <div class="title">
                        EpiZyme TBE电泳缓冲液（5×）（5 L）电泳液
                    </div>
                    <div class="detail">
                        <ul>
                            <li>销量: 275</li>
                            <li>货号: PS109S</li>
                            <li>品牌: Sigma</li>
                        </ul>
                    </div>
                </li>
                <li class="product">
                    <div class="pic">
                        <a href="/detail"><img src="/images/demo/p3.jpg"></a>
                    </div>
                    <div class="price">
                        ￥200.00
                    </div>
                    <div class="title">
                        EpiZyme TBE电泳缓冲液（5×）（5 L）电泳液
                    </div>
                    <div class="detail">
                        <ul>
                            <li>销量: 275</li>
                            <li>货号: PS109S</li>
                            <li>品牌: Sigma</li>
                        </ul>
                    </div>
                </li>
                <li class="product">
                    <div class="pic">
                        <a href="/detail"><img src="/images/demo/p4.gif"></a>
                    </div>
                    <div class="price">
                        ￥200.00
                    </div>
                    <div class="title">
                        EpiZyme TBE电泳缓冲液（5×）（5 L）电泳液
                    </div>
                    <div class="detail">
                        <ul>
                            <li>销量: 275</li>
                            <li>货号: PS109S</li>
                            <li>品牌: Sigma</li>
                        </ul>
                    </div>
                </li>
                <li class="product">
                    <div class="pic">
                        <a href="/detail"><img src="/images/demo/p5.jpg"></a>
                    </div>
                    <div class="price">
                        ￥200.00
                    </div>
                    <div class="title">
                        EpiZyme TBE电泳缓冲液（5×）（5 L）电泳液
                    </div>
                    <div class="detail">
                        <ul>
                            <li>销量: 275</li>
                            <li>货号: PS109S</li>
                            <li>品牌: Sigma</li>
                        </ul>
                    </div>
                </li>
                <li class="product">
                    <div class="pic">
                        <a href="/detail"><img src="/images/demo/p6.jpg"></a>
                    </div>
                    <div class="price">
                        ￥200.00
                    </div>
                    <div class="title">
                        EpiZyme TBE电泳缓冲液（5×）（5 L）电泳液
                    </div>
                    <div class="detail">
                        <ul>
                            <li>销量: 275</li>
                            <li>货号: PS109S</li>
                            <li>品牌: Sigma</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</body>
</html>